.hero {
    &--homepage {
        margin: 115px auto;
        text-align: center;
        max-width: 770px;
    }
    &-catchline {
        @include staatliches;
        font-size: 5em;
        line-height: 0.9em;
        color: $white;
        .emphasis {
            color: $orange;
        }
        margin: 0;
    }
    &-description {
        font-size: $h2-font-size;
    }
    &-cta-section {
        margin-top: $base-line-height;
        display: flex;
        justify-content: center;
        .button {
            margin-right: 23px;
            margin-left: 23px;
            display: flex;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &-text {
                padding-top: 4px;
                padding-left: 5px;
            }
        }
        .text-between {
            margin-top: 20px;
        }
    }
}