.newsletter {
  form {
    display: flex;
  }
  .subtitle {
    margin-bottom: .25em;
  }
  .input--text {
    input {
      display: block;
      margin-right: 10px;
      width: 250px;
      @include desktop {
        min-width: 300px;
        width: 400px;
      }
    }
  }
}
