.featured-episode {
    &-imagery {
        margin-bottom: 20px;
        @include desktop {
            margin-bottom: 80px;
        }
    }
    &-content {
        @include desktop {
            border-top: 1px solid $yellow;
        }
    }
    .subtitle {
        @include desktop {
            margin-top: -.5em;
            text-align: center;
        }
    }
    &-info {
        color: $gray-medium;
        font-size: .9em;
        p {
            margin: 3px;
        }
    }
    &-description {
        width: 50%;
        line-height: 1.5em;
    }
}