$black: #000000;
$white: #ffffff;
$orange: #F26A4C;
$violet: #830542;
$violet-bright: #BC1767;
$gray-light: #A6A6A6;
$gray-medium: #727272;
$gray-dark: #131313;
$yellow: #E9E8AF;

$tablet-portrait: 768px;
$desktop: 1024px;
$widescreen: 1280px;