@import "variables";
@import "media-queries";
@import "fonts";
@import "norm/variables";
@import "../components/SnlHeader/header";
@import "../components/MobileHeader/mobile-header";
@import "../components/Footer/footer";
@import "../components/Hero/homepage-hero";
@import "../components/FeaturedEpisode/featured-episode";
@import "../components/Newsletter/newsletter";
@import "../components/Player/player";
@import "../templates/episodeMdTemplate/episode-page";
@import "../components/EpisodeCards/episode-cards";
@import "../components/HamburgerMenu/hamburger-menu";
@import "../components/Hero/hero";
@import "../components/TwoUp/two-up";

body {
  background-color: $black;
  color: $gray-light;
  font-family: Raleway;
  font-size: 0.75em;
  @include desktop {
    font-size: 1em;
  }
}

.bot-field {
  display: none!important;
}

.page {
  margin: 3em 0;
  .subtitle {
    margin-bottom: 1em;
  }
  &-intro {
    font-size: 1.5em;
    margin-bottom: 2em;
    color: $white;
    @include desktop {
      font-size: 2em;
    }
  }
  &-content {
    max-width: 700px;
    margin: 0 auto;
    color: $white;
    &--non-centered {
      margin: 0;
      max-width: 850px;
    }
  }
}

.title {
  @include staatliches;
}

.middle-content {
  margin-top: 65px;
  @include desktop {
    margin-top: 0;
  }
}

.subtitle {
  @include staatliches;
  color: $yellow;
  font-size: 2.5em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.25em;
  @include desktop {
    font-size: 3.5em;
    margin-bottom: 1em;
  }
}

.section-title {
  color: $white;
  font-size: $h4-font-size;
  font-weight: normal;
  margin-bottom: 0.25em;
  @include desktop {
    font-size: $h1-font-size;
  }
}

.legal {
  font-size: 0.8em;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
  @include desktop {
    padding: 0;
  }
}

.ribbon {
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 80px;
  }
}

.link {
  font-weight: bold;
  &--violet {
    color: $violet-bright;
  }
}

.band {
  padding: 20px 0;
  @include desktop {
    padding: 40px 0;
  }
  &--dark-gray {
    background-color: $gray-dark;
    .input--text {
      input {
        border: 1px solid $gray-light;
        background-color: $gray-dark;
        color: $gray-light;
      }
    }
  }
}

.button {
  padding: 17px 20px;
  font-weight: bold;
  text-decoration: none;
  border: 0;
  &--small {
    padding: 14px 20px;
  }
  &--black {
    background-color: $black;
    border: 1px solid $orange;
    color: $white;
  }
  &--violet-bright {
    background-color: $violet-bright;
    color: $white;
  }
  &--violet {
    background-color: $violet;
    color: $white;
  }
  &-icon {
    max-width: 25px;
    width: 25px;
  }
}

.input {
  &--text {
    position: relative;
    input {
      padding: 26px 30px 6px;
      margin: 0;
      &:focus + label,
      &:valid + label {
        top: 3px;
        margin-top: 0;
        font-size: .75em;
      }
    }
    label {
      position: absolute;
      top: 50%;
      left: 30px;
      width: 100%;
      transition: 0.2s;
      margin-top: -10px;
    }
  }
}

.bounds {
  margin: 0 auto;
  &--narrow {
    width: 90%;
    @include desktop {
      width: 100%;
      max-width: 740px;
    }
  }
  &--wider {
    width: 90%;
    @include desktop {
      width: 100%;
      max-width: 1680px;
    }
  }
  &--wide {
    width: 90%;
    @include desktop {
      width: 100%;
      max-width: 1080px;
    }
  }
}

.q-n-a-list {
  color: $white;
  font-size: 1.2em;
  dd, dt {
    margin: 0;
  }
  dt {
    font-weight: bold;
    margin-bottom: 1em;
    &:before {
      content: ' ';
      width: 20px;
      height: 20px;
      display: inline-block;
      background-color: $orange;
      margin-right: 10px
    }
  }
  dd {
    margin-bottom: 2em;
    line-height: 1.5em;
  }
}

.hidef-bg {
  position: absolute;
  max-width: 615px;
  top: 0;
  &--headphones {
    width: 250px;
    top: 50%;
    margin-top: -230px;
    display: none;
    @include widescreen {
      display: block;
    }
  }
  &--earbuds {
    width: 489px;
    top: 50%;
    margin-top: -147px;
    display: none;
    @include widescreen {
      display: block;
    }
  }
  &--right {
    right: 0;
  }
  &--left {
    left: 0;
  }
}

.anchor {
  position: relative;
  margin: 5em 0;
}
