@import 'variables';
@import 'fonts';
@import "norm/variables";
@import '../components/SnlHeader/header';
@import '../components/Footer/footer';
@import '../components/Hero/homepage-hero';

body {
    background-color: $black;
    color: $gray-light;
    font-family: Raleway;
}

.title {
    @include staatliches;
}

.legal {
    font-size: .8em;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}