@import "variables";
@import "media-queries";
@import "fonts";
@import "norm/variables";
@import "../components/SnlHeader/header";
@import "../components/Footer/footer";
@import "../components/Hero/homepage-hero";
@import "../components/FeaturedEpisode/featured-episode";
@import "../components/Newsletter/newsletter";

body {
  background-color: $black;
  color: $gray-light;
  font-family: Raleway;
  font-size: .75em;
  @include desktop {
    font-size: 1em;
  }
}

.title {
  @include staatliches;
}

.subtitle {
  @include staatliches;
  color: $yellow;
  font-size: 2.5em;
  text-align: left;
  margin-top: 0;
  margin-bottom: .25em;
  @include desktop {
    font-size: 3.5em;
    margin-bottom: 1em;
  }
}

.section-title {
  color: $white;
  font-size: $h4-font-size;
  font-weight: normal;
  margin-bottom: 0.25em;
  @include desktop {
    font-size: $h1-font-size;
  }
}

.legal {
  font-size: 0.8em;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.ribbon {
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 80px;
  }
}

.link {
  font-weight: bold;
  &--violet {
    color: $violet-bright;
  }
}

.band {
  padding: 20px 0;
  @include desktop {
    padding: 40px 0;
  }
  &--dark-gray {
    background-color: $gray-dark;
    .input--text {
      input {
        border: 1px solid $gray-light;
        background-color: $gray-dark;
        color: $gray-light;
      }
    }
  }
}

.button {
  padding: 17px 20px;
  font-weight: bold;
  text-decoration: none;
  border: 0;
  &--small {
    padding: 14px 20px;
  }
  &--black {
    background-color: $black;
    border: 1px solid $orange;
    color: $white;
  }
  &--violet {
    background-color: $violet;
    color: $white;
  }
  &-icon {
    max-width: 25px;
    width: 25px;
  }
}

.input {
    &--text {
        input {
            padding: 13px 30px;
        }
    }
}
