.mobile-header {
    padding: 10px 0;
    border-bottom: 1px solid $gray-medium;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $black;
    z-index: 99;
    &-logo {
        width: 232px;
        margin: 0 auto;
    }
    @include desktop {
        display: none;
    }
}