.footer {
  flex-direction: column;
  &-col {
    width: 50%;
    &-group {
      display: flex;
      margin-bottom: 10px;
    }
  }
  &-credits {
      order: 99;
      width: 100%;
  }
  @include desktop {
    justify-content: space-between;
    flex-direction: row;
    &-col {
      width: 20%;
    }
    &-credits {
        order: 0;
        width: 20%;
    }
  }
  &-map {
    max-width: 124px;
    margin: 0 auto;
  }
  &-logo {
    max-width: 232px;
    margin: 0 auto;
  }
  &-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    &-item {
      margin-bottom: 10px;
    }
    @include desktop {
        padding-left: 1em;
        margin-top: 1em;
    }
  }
  &-link {
    color: $gray-medium;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $gray-light;
    }
    &-title {
      font-size: $h4-font-size;
      @include desktop {
        font-size: $h3-font-size;
      }
    }
  }
}
