.site-player {
    color: $white;
    background-color: $orange;
    position: fixed;
    bottom: -80px;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 80px;
    padding: 20px;
    transition: bottom 0.5s;
    &--is-open {
        bottom: 0;
    }
    &-content {
        display: flex;
        font-weight: bold;
    }
    &-progressbar {
        height: 15px;
        margin-bottom: 5px;
        border: 1px solid $white;
        position: relative;
        &-mercury {
            width: 0%;
            height: 100%;
            background-color: $black;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-controls {
        width: 15%;
        &-icon {
            width: 40px;
            height: 40px;
        }
        font-weight: bold;
    }
    &-overview {
        width: 85%;
        &-content {
            display: flex;
            justify-content: space-between;
            font-size: 1.25em;
        }
    }
}